<!DOCTYPE html>
<html>
<head>
	<title>lyubomirs bachelors</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" />
	<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" />
	<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.mobile.min.css" />
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<style type="text/css" media="screen">
		.k-grid td{
			padding:10px;
		}

		.k-grid tr:nth-child(even){
			background: #f3f4f5
		}

		.k-grid .k-grouping-header{
			background:#f3f4f5;
			color:#444444;
		}

		.k-grid th .k-link{
			color:#444444 !important;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="items-grid"></div>
			</div>
				<div class="col-md-3">
				<h4>The neural network is trained to recognize the following categories:</h2>
				<ol>
					<li>apples</li>
					<li>bananas</li>
					<li>beer</li>
					<li>bonbons</li>
					<li>burgers</li>
					<li>cakes</li>
					<li>cheese</li>
					<li>cookies</li>
					<li>croissants</li>
					<li>french fries</li>
					<li>hotdogs</li>
					<li>oranges</li>
					<li>pizza</li>
					<li>roll breads</li>
					<li>sandwiches</li>
					<li>tea</li>
					<li>whiskey</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="text-center">Please select a file to scan</h2>
				<form action="{% url 'tensorflow_api:scan' %}" method="post" enctype="multipart/form-data">
					<div class="text-center">
						<input type="file" id="image" name="image">
						<br>
						<button class="k-button" type="submit">scan image</button>
					</div>
				</form>
			</div>
			<br>
		</div>
		<br/><br/>
	</div>
	<script>
		$(function(){
			$("#image").kendoUpload({
				multiple:false,
				localization: {
					select: "select"
				},
				validation: {
					allowedExtensions: [".jpg", ".png", ".jpeg"],
				}
			});

			$("#items-grid").kendoGrid({
				dataSource: {
					transport: {
						read: "/tensorflow_api/items",
					},
					schema: { total: "total", data: "data" },
					pageSize:10,
				},
				filterable: true,
				pageable: {
					input: true,
					numeric: false
				},

				groupable:true,
				sortable: true,
				columns: [{
					field: "label",
					title: "Labeled as",
					width: 140,
				}, {
					field: "scanned_on",
					title: "<div class='text-center'>Scanned on</div>",
					template: "<div class='text-center'>#= kendo.toString(kendo.parseDate(scanned_on), 'on dd/MM/yyyy at HH:mm') #</div>"
				}, {
					field: "probability",
					title: "Probability",
					template: "#= probability # %",
					width:130,
				}]
			});
		});
	</script>
</body>
</html>
